In [192]:
#STEP 1 IMPORT LIBRARIES
import pandas as pd
import numpy as np

In [193]:
#STEP 2 IMPORT DATASET
df= pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Movies%20Recommendation.csv')

In [194]:
df.fillna(value= "none",inplace = True)
df.head(239)

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,none,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,none,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,235,Starship Troopers,Adventure Action Thriller Science Fiction,en,105000000,58.782359,06-11-1997,121214377,129.0,6.7,...,none,moon asteroid space marine intelligence buenos...,"Set in the future, the story follows a young s...","[{""name"": ""TriStar Pictures"", ""id"": 559}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",The only good bug is a dead bug.,Casper Van Dien Dina Meyer Denise Richards Jak...,"[{'name': 'Johanna Ray', 'gender': 1, 'departm...",Paul Verhoeven
235,236,Apollo 13,Drama,en,52000000,68.140214,30-06-1995,355237933,140.0,7.3,...,none,moon florida nasa spaceman race against time,The true story of technical troubles that scut...,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","Houston, we have a problem.",Tom Hanks Bill Paxton Kevin Bacon Gary Sinise ...,"[{'name': 'William Broyles Jr.', 'gender': 2, ...",Ron Howard
236,237,Frenzy,Crime Drama Mystery Thriller,en,3500000,10.219942,25-05-1972,12600000,116.0,7.1,...,none,london england rape police suspense serial killer,A serial murderer is strangling women with a n...,"[{""name"": ""Universal Pictures"", ""id"": 33}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Just an ordinary necktie used with a deadly ne...,Jon Finch Alec McCowen Barry Foster Billie Whi...,"[{'name': 'Gilbert Taylor', 'gender': 2, 'depa...",Alfred Hitchcock
237,238,The Wild Bunch,Adventure Western,en,6244087,14.970654,17-06-1969,638641,145.0,7.6,...,none,underdog robbery bounty hunter texas mexican r...,Aging outlaw Pike Bishop (William Holden) prep...,"[{""name"": ""Warner Brothers/Seven Arts"", ""id"": ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",If you only want to spend two hours in a movie...,William Holden Ernest Borgnine Robert Ryan Edm...,"[{'name': 'Joel Cox', 'gender': 2, 'department...",Sam Peckinpah
238,239,To Die For,Fantasy Drama Comedy Thriller,en,20000000,12.309715,20-05-1995,21284514,106.0,6.7,...,none,adultery winter obsession television new hamps...,Susan wants to work in television and will the...,"[{""name"": ""The Rank Organisation"", ""id"": 364},...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",All she wanted was a little attention.,Nicole Kidman Matt Dillon Joaquin Phoenix Case...,"[{'name': 'Danny Elfman', 'gender': 2, 'depart...",Gus Van Sant

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4760 non-null   object
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            4760 non-null   object
 12  Movie_Keywords            4760 non-null   object
 13  Movie_Overview            4760 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             4760 non-null   object
 18  Movie_Cast                4760 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4760 non-null   object
dtypes: float64(2), int64(4), object(15)
memory usage: 781.1+ KB

In [196]:
df.describe()

,Movie_ID,Movie_Budget,Movie_Popularity,Movie_Revenue,Movie_Vote,Movie_Vote_Count
count,4760.000000,4.760000e+03,4760.000000,4.760000e+03,4760.000000,4760.000000
mean,2382.566387,2.920129e+07,21.599510,8.263743e+07,6.113866,692.508403
std,1377.270159,4.075620e+07,31.887919,1.630554e+08,1.141294,1235.007337
min,1.000000,0.000000e+00,0.000372,0.000000e+00,0.000000,0.000000
25%,1190.750000,9.257500e+05,4.807074,0.000000e+00,5.600000,55.000000
50%,2380.500000,1.500000e+07,13.119058,1.944716e+07,6.200000,238.000000
75%,3572.250000,4.000000e+07,28.411929,9.341276e+07,6.800000,740.250000
max,4788.000000,3.800000e+08,875.581305,2.787965e+09,10.000000,13752.000000

In [197]:
df.shape

(4760, 21)

In [198]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [199]:
#STEP 3 FEATURE SELECTION
df_features = df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']]

In [200]:
df_features.shape

(4760, 5)

In [201]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,none,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,none,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,none,none,none,none
4759,Documentary,music actors legendary perfomer classic hollyw...,none,Tony Oppedisano,Simon Napier-Bell

In [202]:
x = df_features['Movie_Genre'] + ' ' +df_features['Movie_Keywords'] + ' ' +df_features['Movie_Tagline'] + ' ' +df_features['Movie_Cast'] + ' ' +df_features['Movie_Director']

In [203]:
x

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755    Horror none The hot spot where Satan's waitin'...
4756    Comedy Family Drama none It’s better to stand ...
4757    Thriller Drama christian film sex trafficking ...
4758                           Family none none none none
4759    Documentary music actors legendary perfomer cl...
Length: 4760, dtype: object

In [204]:
x.shape

(4760,)

In [205]:
#STEP 4  TEXT CONVERSION TO TOKENS
from sklearn.feature_extraction.text import TfidfVectorizer

In [206]:
tfidf = TfidfVectorizer()

In [207]:
x = tfidf.fit_transform(x)

In [208]:
x.shape

(4760, 17258)

In [209]:
print(x)

  (0, 617)	0.1633382144407513
  (0, 492)	0.1432591540388685
  (0, 15413)	0.1465525095337543
  (0, 9675)	0.14226057295252661
  (0, 9465)	0.1659841367820977
  (0, 1390)	0.16898383612799558
  (0, 7825)	0.09799561597509843
  (0, 1214)	0.13865857545144072
  (0, 729)	0.13415063359531618
  (0, 13093)	0.1432591540388685
  (0, 15355)	0.10477815972666779
  (0, 9048)	0.0866842116160778
  (0, 11161)	0.06250380151644369
  (0, 16773)	0.17654247479915475
  (0, 5612)	0.08603537588547631
  (0, 16735)	0.10690083751525419
  (0, 7904)	0.13348000542112332
  (0, 15219)	0.09800472886453934
  (0, 11242)	0.07277788238484746
  (0, 3878)	0.11998399582562203
  (0, 5499)	0.11454057510303811
  (0, 7071)	0.19822417598406614
  (0, 7454)	0.14745635785412262
  (0, 1495)	0.19712637387361423
  (0, 9206)	0.15186283580984414
  :	:
  (4757, 8464)	0.23522565554066333
  (4757, 6938)	0.17088173678136628
  (4757, 8379)	0.17480603856721913
  (4757, 15303)	0.07654356007668191
  (4757, 15384)	0.09754322497537371
  (4757, 7649)	0.11479421494340192
  (4757, 10896)	0.14546473055066447
  (4757, 4494)	0.05675298448720501
  (4758, 11031)	0.9592100966044156
  (4758, 5238)	0.28269416437582806
  (4759, 11264)	0.3378566524150235
  (4759, 11708)	0.3378566524150235
  (4759, 205)	0.3222454778926056
  (4759, 8902)	0.3025777239881031
  (4759, 14062)	0.3222454778926056
  (4759, 3058)	0.2799468242528561
  (4759, 7130)	0.2629354265576732
  (4759, 10761)	0.31116917329769195
  (4759, 4358)	0.18219152196831012
  (4759, 14051)	0.1998843869008614
  (4759, 5690)	0.1944103998361187
  (4759, 15431)	0.19534951697335717
  (4759, 1490)	0.2109606914957751
  (4759, 11031)	0.09759421468881119
  (4759, 10666)	0.15812423006395446

In [210]:
# STEP 5 SIMILARITY SCORE USING COSINE
from sklearn.metrics.pairwise import cosine_similarity

In [211]:
Similarity_Score = cosine_similarity(x)

In [212]:
Similarity_Score

array([[1.        , 0.01351235, 0.03570468, ..., 0.        , 0.        ,
        0.        ],
       [0.01351235, 1.        , 0.00806674, ..., 0.        , 0.        ,
        0.        ],
       [0.03570468, 0.00806674, 1.        , ..., 0.        , 0.02265759,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.02265759, ..., 0.        , 1.        ,
        0.09361336],
       [0.        , 0.        , 0.        , ..., 0.        , 0.09361336,
        1.        ]])

In [213]:
Similarity_Score.shape

(4760, 4760)

In [214]:
#STEP 6 GET MOVIE NAME FROM USER AND VALIDATE CLOSEST SPELLING
Favourite_Movie_Name = input("Enter Your Favourite Movie Name:")

Enter Your Favourite Movie Name:avatar

In [215]:
All_Movie_Title_List = df['Movie_Title'].tolist()

In [218]:
import difflib
Find_Close_Match =difflib.get_close_matches(Favourite_Movie_Name,All_Movie_Title_List)
Close_Match =Find_Close_Match[0]
Index_Of_Movie =df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
Recommendation_Score = list(enumerate(Similarity_Score[Index_Of_Movie]))
Sorted_Similar_Movie = sorted(Recommendation_Score,key= lambda x:x[1],reverse = True)
print('Top 10 Movies Suggested for you :')
i=1
for movie in Sorted_Similar_Movie:
  index=movie[0]
  Title_From_Index = df[df.Movie_ID ==index]['Movie_Title'].values
  if(i<11):
    print(i,'.', Title_From_Index)
    i=i+1

Top 10 Movies Suggested for you :
1 . ['Avatar']
2 . ['The Girl on the Train']
3 . ['Donnie Darko']
4 . ['Act of Valor']
5 . ['Precious']
6 . ['Freaky Friday']
7 . ['The Opposite Sex']
8 . ['Heaven is for Real']
9 . ['Run Lola Run']
10 . ['Elizabethtown']